html{
    font-size:62.5%;
}

main{
    font-family:"Source Sans Pro",bold;
        background:#FFF;
}

body{
    color:#444;
    font-size:1.8rem;
    line-height: 1.5;
}

.container{
    max-width:980px;
    margin: auto;
}

a{
    text-decoration:none;
}

.gauche{
    float:left;
    margin-right:1rem;
}

.droite{
    float:right;
    margin-left:1rem;
}

.intro{
    text-align:center;
}

strong,em{
    color:#003884;
}

.menu{
    text-align:left;
}

blockquote{
    background:#d7e1ef;
    color:#003884;
    padding:1.5rem;
}

h1,h3,nav,blockquote{
    text-align:center;
    font-family:"courgette";
}

q{
    font-size: 2.5rem;
}

cite{
    font-style: normal;
}

h1{
    color:#003884;
    text-transform:uppercase;
    font-size:4rem;
}

h2{
    color:#4f89b9;
    text-align:center;
    font-family:"courgette",bold;
}

h3{
    color:#003884;
}

nav a {
    color:#003884;
}

@font-face {
    font-family:"courgette";
    src: url(../fonts/Courgette-Regular.woff) format("woff");
    font-weight:normal;
    font-style:normal;
}

footer{
    margin:auto;
    text-align:center;
    font-size:1.4rem;
}

footer a{
    color:#000;
    text-decoration:underline;
}

footer img{
    
}